In [16]:
import pandas as pd

In [17]:
df_original = pd.read_csv("../Data/Clean/clean_movies.csv")
df_original

,Unnamed: 0,title,vote_average,release_date,revenue,runtime,adult,budget,genres
0,3,Avatar,7.573,2009-12-15,2923706026,162,False,237000000,"Action, Adventure, Fantasy, Science Fiction"
1,15,Avengers: Endgame,8.263,2019-04-24,2800000000,181,False,356000000,"Adventure, Science Fiction, Action"
2,282,Avatar: The Way of Water,7.654,2022-12-14,2320250281,192,False,460000000,"Science Fiction, Adventure, Action"
3,56,Star Wars: The Force Awakens,7.293,2015-12-15,2068223624,136,False,245000000,"Adventure, Action, Science Fiction"
4,6,Avengers: Infinity War,8.255,2018-04-25,2052415039,149,False,300000000,"Adventure, Action, Science Fiction"
...,...,...,...,...,...,...,...,...,...
5892,308571,Shrek's Yule Log,10.000,2010-12-07,1000,30,False,1000,"Family, Animation, Comedy"
5893,894592,Grandpa Comes Back from Germany,0.000,2013-08-09,1000,105,False,500,"Crime, Thriller, Action"
5894,449098,Across the Rails,0.000,2022-01-12,1000,40,False,3000,"Documentary, Adventure"
5895,202355,Plane Tree,5.000,2018-10-05,1000,99,False,200000,"Family, Drama, Mystery"
5896,258978,Freezen: A Dragon Friends Yulemas,9.000,2020-12-13,1000,110,False,500,"Comedy, Music, Fantasy"

In [18]:
print(df_original.columns)

Index(['Unnamed: 0', 'title', 'vote_average', 'release_date', 'revenue',
       'runtime', 'adult', 'budget', 'genres'],
      dtype='object')

In [29]:
import pandas as pd

# AsegÃºrate de que 'release_date' estÃ© en formato datetime
df_original['release_date'] = pd.to_datetime(df_original['release_date'])

# Crear columnas para mes y dÃ­a
df_original['release_month'] = df_original['release_date'].dt.month
df_original['release_day'] = df_original['release_date'].dt.day

# Eliminar la columna 'release_date' original si ya no la necesitas
df_original.drop(columns=['release_date'], inplace=True)

# Mostrar el DataFrame actualizado
print(df_original.head())

   Unnamed: 0                         title  vote_average   revenue   runtime  \
0           3                        Avatar         7.573  1.000000  0.136223
1          15             Avengers: Endgame         8.263  0.957689  0.155831
2         282      Avatar: The Way of Water         7.654  0.793599  0.167183
3          56  Star Wars: The Force Awakens         7.293  0.707398  0.109391
4           6        Avengers: Infinity War         8.255  0.701991  0.122807

   adult    budget                                       genres  \
0  False  0.515217  Action, Adventure, Fantasy, Science Fiction
1  False  0.773913           Adventure, Science Fiction, Action
2  False  1.000000           Science Fiction, Adventure, Action
3  False  0.532609           Adventure, Action, Science Fiction
4  False  0.652174           Adventure, Action, Science Fiction

   release_month  release_day
0             12           15
1              4           24
2             12           14
3             12           15
4              4           25

In [31]:
print(df_original)

      Unnamed: 0                              title  vote_average   revenue  \
0              3                             Avatar         7.573  1.000000
1             15                  Avengers: Endgame         8.263  0.957689
2            282           Avatar: The Way of Water         7.654  0.793599
3             56       Star Wars: The Force Awakens         7.293  0.707398
4              6             Avengers: Infinity War         8.255  0.701991
...          ...                                ...           ...       ...
5892      308571                   Shrek's Yule Log        10.000  0.000000
5893      894592    Grandpa Comes Back from Germany         0.000  0.000000
5894      449098                   Across the Rails         0.000  0.000000
5895      202355                         Plane Tree         5.000  0.000000
5896      258978  Freezen: A Dragon Friends Yulemas         9.000  0.000000

       runtime  adult    budget                                       genres  \
0     0.136223  False  0.515217  Action, Adventure, Fantasy, Science Fiction
1     0.155831  False  0.773913           Adventure, Science Fiction, Action
2     0.167183  False  1.000000           Science Fiction, Adventure, Action
3     0.109391  False  0.532609           Adventure, Action, Science Fiction
4     0.122807  False  0.652174           Adventure, Action, Science Fiction
...        ...    ...       ...                                          ...
5892  0.000000  False  0.000002                    Family, Animation, Comedy
5893  0.077399  False  0.000001                      Crime, Thriller, Action
5894  0.010320  False  0.000007                       Documentary, Adventure
5895  0.071207  False  0.000435                       Family, Drama, Mystery
5896  0.082559  False  0.000001                       Comedy, Music, Fantasy

      release_month  release_day
0                12           15
1                 4           24
2                12           14
3                12           15
4                 4           25
...             ...          ...
5892             12            7
5893              8            9
5894              1           12
5895             10            5
5896             12           13

[5897 rows x 10 columns]

In [33]:
df_original.to_csv("cleaned_movies_with_dates.csv", index=False)

In [35]:
df_original.head()

,Unnamed: 0,title,vote_average,revenue,runtime,adult,budget,genres,release_month,release_day
0,3,Avatar,7.573,1.000000,0.136223,False,0.515217,"Action, Adventure, Fantasy, Science Fiction",12,15
1,15,Avengers: Endgame,8.263,0.957689,0.155831,False,0.773913,"Adventure, Science Fiction, Action",4,24
2,282,Avatar: The Way of Water,7.654,0.793599,0.167183,False,1.000000,"Science Fiction, Adventure, Action",12,14
3,56,Star Wars: The Force Awakens,7.293,0.707398,0.109391,False,0.532609,"Adventure, Action, Science Fiction",12,15
4,6,Avengers: Infinity War,8.255,0.701991,0.122807,False,0.652174,"Adventure, Action, Science Fiction",4,25